name: portfolio

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - VITE_BASE_URL=${VITE_BASE_URL}
        - VITE_GOOGLE_API_KEY=${VITE_GOOGLE_API_KEY}
        - VITE_EMAILJS_SERVICE_ID=${VITE_EMAILJS_SERVICE_ID}
        - VITE_EMAILJS_TEMPLATE_ID=${VITE_EMAILJS_TEMPLATE_ID}
        - VITE_EMAILJS_PUBLIC_KEY=${VITE_EMAILJS_PUBLIC_KEY}
    ports:
      - "5173:5173"
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
